@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: cornflowerblue;
  font-family: "Balsamiq Sans", cursive;
  color: whitesmoke;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.flex.flex-b {
  justify-content: space-between;
}
