a {
  transition: all 0.3s ease;
}

a:hover {
  transform: translateX(10px);
}

.main {
  height: calc(100vh - 60px);
}

.board-game {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: rgb(50, 91, 107);
  position: relative;
}

.cell {
  padding: 8px 18px;
  font-family: inherit;
  border: 2px solid royalblue;
  outline: none;
  background-color: rgb(200, 205, 221);
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  transition: all 0.3s ease;
}

.cell:hover {
  opacity: 0.8;
}
