.main {
  height: calc(100vh - 60px);
}

.board-game {
  width: 450px;
  height: 450px;
  background-color: ivory;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px orange solid;
  height: 50px;
  width: 50px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.cell.solved {
  background-color: goldenrod;
}

.cell.try {
  background-color: yellowgreen;
}
